$ico_img: ('ico_facebook.svg', 'ico_twitter.svg', 'ico_instagram.svg');

footer {
	width: 100%;
	padding: 64px 80px;

	.wrap {
		width: 100%;
		max-width: 1280px;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		.sitemap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid rgba(30, 30, 47, 0.1);
			padding-bottom: 50px;
			margin-bottom: 30px;

			h1 {
				flex: 0.5;
				color: #333;
				font: bold 28px/1.2 'arial';
			}

			ul {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: center;
				gap: 20px 2%;
				flex: 1;

				li {
					width: 33%;
					display: inline-block;
					margin-right: 0;
					box-shadow: inset 0 0 0 0 #97c680;
					color: #1e1e2f;
					text-align: center;
					text-decoration: none;
					font: 18px/1 'arial';

					span {
						cursor: pointer;
						transition: 0.3s;
					}

					span:hover {
						box-shadow: inset 0 -9px 0 0 #97c680;
					}
				}
			}

			.input_Area {
				flex: 1;
				p {
					font: 18px/1 'arial';
					text-align: center;
					margin-bottom: 20px;
				}

				.button_area {
					text-align: center;
					position: relative;
					display: flex;
					justify-content: center;

					.input_text {
						width: 200px;
						margin-right: -1px;
						margin-bottom: 0;
						position: relative;
						z-index: 0;
						height: 64px;
						padding-left: 25px;
						border: 1px solid rgba(30, 30, 47, 0.2);
						border-radius: 0;
						transition: 0.3s;
						font-size: 16px;
					}

					.submit_area {
						position: relative;
						height: auto;
						left: auto;
						top: 0;
						right: 0;
						bottom: 0;
						z-index: 1;
						display: flex;
						width: 64px;
						justify-content: center;
						align-items: center;
						background-color: #97c680;
						box-shadow: inset 0 0 0 0 #feba88;
						transition: 0.3s;
						color: #1e1e2f;

						&:hover {
							box-shadow: inset 0 -70px 0 0 #feba88;
						}

						.checkbtn_area {
							display: flex;
							justify-content: center;
							align-items: center;

							.img {
								color: #1e1e2f;
							}
						}

						input {
							position: absolute;
							left: 0;
							top: 0;
							right: 0;
							bottom: 0;
							z-index: 3;
							opacity: 0;
							display: inline-block;
							padding: 9px 15px;
							background-color: #3898ec;
							color: #fff;
							border: 0;
							line-height: inherit;
							text-decoration: none;
							cursor: pointer;
							border-radius: 0;
						}
					}
				}
			}
		}

		.SNS {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.left {
				flex: 1;
				display: flex;
				justify-content: left;
				align-items: center;

				div {
					display: inline-block;
					margin-right: 20px;
				}

				span {
					font: 18px/1 'arial';
					text-align: center;
				}
			}

			.right {
				flex: 1;
				display: flex;
				justify-content: right;
				align-items: center;
				margin-right: 3%;

				li {
					display: flex;
					width: 40px;
					height: 40px;
					margin-right: 8px;
					margin-left: 8px;
					justify-content: center;
					align-items: center;
					flex: 0 0 auto;
					border-radius: 100px;
					cursor: pointer;

					&:hover {
						background: #1e1e2f;
					}

					@for $i from 1 through 3 {
						.icon_img#{$i} {
							display: block;
							width: 100%;
							height: 100%;
							border: 1px solid rgba(30, 30, 47, 0.1);
							border-radius: 100px;
							transition: 0.3s;
							background-image: url('../img/main/#{nth($ico_img,$i)}');
							background-repeat: no-repeat;
							background-position: center;
							background-size: 50% 50%;
							object-fit: cover;

							&:hover {
								filter: brightness(0%) invert(100%);
							}
						}
					}
				}
			}
		}
	}
}

#follow {
	width: 100%;
	height: 60px;
	border-top: 1px solid #29242a;
	background-color: #1e1e2f;
	display: flex;
	justify-content: center;
	align-items: center;

	.like_Follow {
		display: flex;
		justify-content: center;
		align-items: center;

		div {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		p {
			font: 14px/1.2 'arial';
			color: hsla(0, 0%, 100%, 0.6);
			line-height: 1.5em;

			a {
				display: inline-block;
				color: #fff;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	footer {
		padding: 0 40px 30px;

		.wrap {
			.sitemap {
				flex-wrap: wrap;
				flex-direction: column;
				justify-content: left;
				padding-bottom: 30px;

				h1 {
					width: 100%;
					font: bold 28px/1.2 'arial';
					margin-bottom: 20px;
				}

				.sitemap_Area {
					width: 100%;
					margin-bottom: 40px;

					ul {
						max-width: 250px;

						li {
							width: 45%;
							text-align: left;
						}
					}
				}

				.input_Area {
					width: 100%;

					p {
						font: 18px/1 'arial';
						text-align: left;
					}

					.button_area {
						justify-content: left;

						.input_text {
							height: 40px;
						}
					}
				}
			}

			.SNS {
				flex-wrap: wrap;
				flex-direction: column;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	footer {
		padding: 0 40px 20px;
		.wrap {
			.sitemap {
				//padding-bottom: 50px;
				margin-bottom: 20px;

				// h1 {
				// 	flex: 0.5;
				// 	color: #333;
				// 	font: bold 28px/1.2 'arial';
				// }

				// ul {
				// 	display: flex;
				// 	justify-content: space-between;
				// 	flex-wrap: wrap;
				// 	align-items: center;
				// 	gap: 20px 2%;
				// 	flex: 1;

				// 	li {
				// 		width: 33%;
				// 		display: inline-block;
				// 		margin-right: 0;
				// 		box-shadow: inset 0 0 0 0 #97c680;
				// 		color: #1e1e2f;
				// 		text-align: center;
				// 		text-decoration: none;
				// 		font: 18px/1 'arial';

				// 		span {
				// 			cursor: pointer;
				// 			transition: 0.3s;
				// 		}

				// 		span:hover {
				// 			box-shadow: inset 0 -9px 0 0 #97c680;
				// 		}
				// 	}
				// }
			}

			.SNS {
				.left {
					align-items: center;
					margin-bottom: 10px;

					div {
						line-height: 0;
						margin-right: 10px;

						img {
							width: 25px;
							height: 25px;
						}
					}

					span {
						font: 12px/1 'arial';
						text-align: center;
					}
				}

				.right {
					li {
						width: 30px;
						height: 30px;
					}
				}
			}
		}
	}

	#follow {
		.like_Follow {
			p {
				font-size: 12px;
			}
		}
	}
}
