header {
	width: 100%;
	min-height: 90px;
	margin: 0 auto;
	padding: 20px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fdfdfd;
	position: absolute;
	transform: translateY(-90px);
	opacity: 0;
	transition: 1s;

	&.on {
		transform: translateY(0px);
		opacity: 1;
	}

	&.fix {
		position: fixed;
		background: #fff;
		z-index: 3;
		opacity: 1;
	}

	h1 {
		flex: 1.5;
		a {
			color: #333;
			font: bold 28px/1.2 'arial';
		}
	}

	ul {
		display: flex;
		gap: 20px;
	}

	.menu {
		flex: 3;
		gap: 40px;
		justify-content: left;
		align-items: center;

		li > a {
			font: 18px/1 'arial';
			color: #1e1e2f;
			transition: 0.3s;

			&:hover {
				box-shadow: inset 0 -9px 0 0 #97c680;
			}
		}
	}

	.btnCall {
		display: none;
	}

	.mobile_menu {
		display: none;
	}

	.Login_Area {
		flex: 2;
		justify-content: right;
		align-items: center;

		.Login > a {
			font: 18px/1 'arial';
			color: #1e1e2f;
			transition: 0.3s;

			&:hover {
				box-shadow: inset 0 -9px 0 0 #97c680;
			}
		}

		.btn > a {
			min-width: 160px;
			padding: 10px 30px;
			border-radius: 100px;
			background-color: #97c680;
			box-shadow: inset 0 45px 0 0 #1e1e2f;
			color: #fff;
			text-align: center;
			transition: 0.3s;

			&:hover {
				box-shadow: inset 0 45px 0 -50px #1e1e2f;
				color: #1e1e2f;
			}
		}
	}
}

@media screen and (max-width: $pc_small) {
	header {
		h1 {
			flex: 1;
		}

		ul {
			display: flex;
			gap: 20px;
		}

		.menu {
			gap: 5px;
			flex-wrap: wrap;
			justify-content: center;

			li {
				width: 30%;
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	header {
		h1 {
			flex: 1;
		}

		ul {
			display: none;
		}

		.menu {
			display: none;
		}

		.btnCall {
			display: block;
			color: #000;
			font-size: 20px;
		}

		// .mobile_menu {
		// 	display: block;
		// 	width: 100%;
		// 	height: 100vh;
		// }
	}
}
