body {
	background-image: linear-gradient(-5deg, #f8f4f1 60%, #fefeff 98%);
}

.Sub_Layout {
	width: 100%;
	height: 100%;
	padding: 154px 10% 64px;
	overflow: hidden;
	opacity: 0;
	transform: translateY(200px);
	transition-property: opacity, transform;
	transition-duration: 1s;
	transition-delay: 0.5s;

	.wrap {
		width: 100%;
		height: 100%;
		overflow: hidden;

		.title {
			width: 50%;
			padding: 30px 0 100px;

			.main {
				width: 100%;
				border-bottom: 1px solid #1e1e2f;

				h1 {
					width: 100%;
					font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
					font-weight: 700;
					font-size: 70px;
					padding-bottom: 20px;
				}
			}

			.sub {
				width: 100%;
				text-align: right;
				padding: 30px 0;

				h2 {
					display: inline-block;
					width: 50%;
					font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
					font-weight: 400;
					font-size: 16px;
				}
			}
		}
	}
}

.Sub_Layout.on {
	opacity: 1;
	transform: translateY(0px);
}

.loading_Area {
	width: 100vw;
	height: 100%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.9);
	opacity: 0.8;
	z-index: 5;
	top: 0;
	left: 0;
	position: fixed;
	//transition: opacity 1s; 넣었더니 이질감이 느껴짐

	&.off {
		overflow: auto;
		opacity: 0;
		z-index: -1;
	}

	.loading {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
		transition: opacity 1s;
		z-index: 3;
		background: transparent;
	}
}

@media screen and (max-width: $tablet) {
	.Sub_Layout {
		padding: 110px 5% 50px;

		.wrap {
			.title {
				width: 100%;
				padding: 0px 0 50px;

				.main {
					h1 {
						font-weight: 700;
						font-size: 50px;
						padding-bottom: 20px;
					}
				}

				.sub {
					width: 100%;
					padding: 30px 0;

					h2 {
						width: 100%;
						font-size: 16px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Sub_Layout {
		.wrap {
			.title {
				.main {
					h1 {
						font-weight: 700;
						font-size: 50px;
						padding-bottom: 20px;
					}
				}
			}
		}
	}
}
