$categories: ('Categories01.png', 'Categories02.png', 'Categories03.png', 'Categories04.png');

#categories {
	width: 100%;
	padding: 64px 80px;

	.wrap {
		width: 100%;
		max-width: 1280px;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: column;
		overflow: hidden;
		opacity: 0;
		transform: translateY(200px);
		transition: 1s;

		&.on {
			opacity: 1;
			transform: translateY(0);
		}

		h1 {
			margin-top: 0;
			margin-bottom: 48px;
			font-size: 40px;
			line-height: 1.2em;
			font-weight: 700;
		}

		ul.tab {
			display: flex;
			justify-content: space-around;
			align-items: center;
			gap: 30px;
			margin-bottom: 50px;

			li {
				height: 35px;
				font-family: Archia, sans-serif;
				color: #1e1e2f;
				font-size: 16px;
				font-weight: 700;
				cursor: pointer;

				&.on {
					span {
						padding-bottom: 10px;
						font-weight: bold;
						border-bottom: 3px solid #000;
					}
				}

				&:hover {
					span {
						padding-bottom: 10px;
						border-bottom: 3px solid #000;
					}
				}
			}
		}

		ul.img {
			width: 100%;
			padding: 0 5%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			gap: 20px;

			li {
				width: 280px;
				height: 100%;
				opacity: 0;
				transform: translateY(200px);
				transition: 0.5s;
				cursor: pointer;

				&:nth-of-type(2) {
					transition: 1s;
				}

				&:nth-of-type(3) {
					transition: 2s;
				}

				&:nth-of-type(4) {
					transition: 3s;
				}

				&.on {
					opacity: 1;
					transform: translateY(0);
				}

				&:hover {
					strong {
						color: #97c680;
						-webkit-text-stroke: 0.6px #97c680;
					}
				}

				.img {
					height: 300px;
					border-radius: 20px;
					margin-bottom: 10px;
				}

				@for $i from 1 through 4 {
					.img#{$i} {
						width: 100%;
						background-image: url('../img/main/#{nth($categories,$i)}');
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
					}
				}

				strong {
					font-family: Archia, sans-serif;
					color: #1e1e2f;
					font-size: 24px;
					margin-bottom: 3px;
					display: inline-block;
				}

				p {
					font-family: Archia, sans-serif;
					font-size: 16px;
					line-height: 22px;
					margin-bottom: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: $pc_small) {
	#categories {
		.wrap {
			ul.img {
				li {
					strong {
						font-size: 20px;

						&.on {
							color: #97c680;
							-webkit-text-stroke: 0.6px #97c680;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#categories {
		padding: 40px 60px;

		.wrap {
			ul.tab {
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;

				li {
					width: 25%;
					text-align: center;
				}
			}

			ul.img {
				justify-content: space-between;
				flex-wrap: wrap;
				text-align: center;

				li {
					width: 45%;
					@for $i from 1 through 4 {
						.img#{$i} {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#categories {
		padding: 20px 50px;

		.wrap {
			ul.tab {
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;

				li {
					width: 40%;
					text-align: center;
				}
			}

			ul.img {
				li {
					width: 100%;
					@for $i from 1 through 4 {
						.img#{$i} {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
