#skills {
	width: 100%;
	padding: 64px 80px;

	.wrap {
		width: 100%;
		max-width: 1280px;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		opacity: 0;
		transform: translateY(200px);
		transition: 1s;

		&.on {
			opacity: 1;
			transform: translateY(0);
		}

		.top {
			width: 100%;
			display: flex;

			.left {
				flex: 1;
				display: flex;
				justify-content: left;
				align-items: center;

				h1 {
					margin-top: 0;
					font-size: 40px;
					line-height: 1.2em;
					font-weight: 700;
					font-family: Arial, Helvetica, sans-serif;
					color: #1e1e2f;
					margin-bottom: 50px;
				}
			}

			.right {
				position: relative;
				z-index: 1;
				width: 100%;
				max-width: 544px;
				margin-right: 80px;

				p {
					font-family: Arial, Helvetica, sans-serif;
					color: #1e1e2f;
					font-size: 20px;
					line-height: 25px;
				}

				.number_area {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 544px;
					overflow: hidden;
					margin-top: 48px;
					margin-bottom: -85px;
					background-color: #97c680;
					height: 0%;
					transition: height 1.5s;
					opacity: 0;

					&.on {
						opacity: 1;
						height: 70%;
					}

					.number_area_left {
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.number_area_right {
						display: flex;
						justify-content: center;
						align-items: center;
						margin-top: 36px;
						margin-bottom: 36px;
					}

					h1 {
						font-family: Arial, Helvetica, sans-serif;
						color: #1e1e2f;
						margin-right: 16px;
						font-size: 52px;
						line-height: 1em;
					}

					h2 {
						font-family: Arial, Helvetica, sans-serif;
						font-size: 14px;
						line-height: 1.4em;
						text-transform: uppercase;
					}

					.bar {
						width: 1px;
						height: 40px;
						margin-right: 52px;
						margin-left: 52px;
						-webkit-box-flex: 0;
						-webkit-flex: 0 0 auto;
						-ms-flex: 0 0 auto;
						flex: 0 0 auto;
						background-color: #1e1e2f;
					}
				}
			}
		}

		.bottom {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			.left {
				flex: 1;
				display: flex;
				justify-content: center;
				align-items: center;

				ul {
					li {
						padding-top: 30px;
						padding-bottom: 30px;
						margin-right: 30px;
						display: flex;

						.icon_area {
							display: flex;
							width: 56px;
							height: 56px;
							margin-right: 24px;
							justify-content: center;
							align-items: center;
							flex: 0 0 auto;
							border-radius: 100px;
							background-color: #fff;
							box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05);
						}

						div {
							strong {
								display: inline-block;
								margin-bottom: 10px;
								font-size: 20px;
								font-family: Arial, Helvetica, sans-serif;
							}

							p {
								color: rgba(30, 30, 47, 0.8);
							}
						}
					}
				}
			}

			.right {
				flex: 3;
				height: 100%;

				.video_area {
					width: 100%;
					height: 100%;
					padding: 20px 0;
					overflow: hidden;
					border-radius: 20px;
					position: relative;

					iframe {
						border-radius: 20px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $pc_small) {
	#skills {
		.wrap {
			.top {
				width: 100%;
				display: flex;

				.left {
					h1 {
						margin-right: 20px;
						font-size: 32px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#skills {
		padding: 40px 60px;
		.wrap {
			.top {
				flex-wrap: wrap;

				.left {
					width: 100%;

					h1 {
						margin-bottom: 15px;
					}
				}

				.right {
					width: 100%;
					max-width: 100%;

					.number_area {
						width: 500px;
						margin-top: 20px;
						margin-bottom: 0px;
					}
				}
			}

			.bottom {
				.left {
					justify-content: left;

					ul {
						li {
							padding-top: 20px;
							padding-bottom: 20px;
							margin-right: 20px;

							.icon_area {
								width: 40px;
								height: 40px;
								margin-right: 15px;
								box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05);
							}

							div {
								strong {
									font-size: 15px;
								}

								p {
									color: rgba(30, 30, 47, 0.8);
								}
							}
						}
					}
				}

				.right {
					flex: 2;

					.video_area {
						iframe {
							width: 70vw;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 850px) {
	#skills {
		padding: 20px 50px;

		.wrap {
			.bottom {
				flex-wrap: wrap;
				flex-direction: column-reverse;

				.left {
					width: 100%;
				}

				.right {
					width: 100%;

					.video_area {
						padding: 0;

						iframe {
							height: 50vw;
							border-radius: 0px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#skills {
		.wrap {
			.top {
				.right {
					.number_area {
						width: 350px;
						margin-top: 20px;

						&.on {
							height: 40%;
						}

						.number_area_right {
							margin-top: 20px;
							margin-bottom: 20px;
						}

						h1 {
							font-size: 30px;
						}

						h2 {
							font-size: 12px;
						}

						.bar {
							width: 1px;
							height: 40px;
							margin-right: 25px;
							margin-left: 25px;
							-webkit-box-flex: 0;
							-webkit-flex: 0 0 auto;
							-ms-flex: 0 0 auto;
							flex: 0 0 auto;
							background-color: #1e1e2f;
						}
					}
				}
			}

			.bottom {
				.left {
					width: 100%;
				}

				.right {
					width: 100%;

					.video_area {
						iframe {
							width: 70vw;
							height: 50vw;
							border-radius: 0px;
						}
					}
				}
			}
		}
	}
}
