$visuals: ('visual01', 'visual02', 'visual03');

#visual {
	width: 100%;
	height: 740px;
	padding: 154px 80px 64px;
	//background: #fdfdfd;

	.wrap {
		height: 100%;
		margin: 0 5%;
		padding: 40px 0;
		//background: #fdfdfd;
		display: flex;
		position: relative;

		.left {
			width: 40%;
			height: 100%;
			display: flex;
			align-items: center;
			padding-bottom: 56px;
			opacity: 0;
			transform: translateY(200px);
			transition: 1s;

			&.on {
				opacity: 1;
				transform: translateY(0);
				z-index: 1;
			}

			h1 {
				font-family: Archia, sans-serif;
				margin-top: 0;
				margin-bottom: 90px;
				font-size: 76px;
				line-height: 1em;
				font-weight: 700;
			}

			.search_area {
				width: 500px;
				height: 100px;
				position: absolute;
				top: 75%;
				left: 0;
				text-align: center;
				display: flex;
				justify-content: left;
				.input_text {
					width: 300px;
					height: 100%;
					margin-right: -1px;
					margin-bottom: 0;
					position: relative;
					z-index: 0;
					padding-left: 25px;
					border: 1px solid rgba(30, 30, 47, 0.2);
					box-shadow: 0 46px 50px 0 rgba(0, 0, 0, 0.03);
					border-radius: 0;
					transition: 0.3s;
					font-size: 16px;
					outline: none;

					&:focus {
						border-color: #97c680;
						box-shadow: 0 46px 50px 0 rgba(0, 0, 0, 0.1);
					}
				}

				.submit_area {
					width: 100px;
					position: relative;
					height: auto;
					left: auto;
					top: 0;
					right: 0;
					bottom: 0;
					z-index: 1;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #97c680;
					box-shadow: inset 0 0 0 0 #feba88;
					transition: 0.3s;
					color: #1e1e2f;

					&:hover {
						box-shadow: inset 0 -100px 0 0 #feba88;
					}

					.checkbtn_area {
						display: flex;
						justify-content: center;
						align-items: center;

						.img {
							color: #1e1e2f;
						}
					}

					input {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						z-index: 3;
						opacity: 0;
						display: inline-block;
						padding: 9px 15px;
						background-color: #3898ec;
						color: #fff;
						border: 0;
						line-height: inherit;
						text-decoration: none;
						cursor: pointer;
						border-radius: 0;
					}
				}
			}
		}
		.right {
			width: 70%;
			height: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			gap: 20px;
			transform: translateX(-200px);
			opacity: 0;
			transition: 0.7s;

			&.on {
				opacity: 1;
				transform: translateX(0);
			}

			@for $i from 1 through 3 {
				.picture:nth-of-type(#{$i}) {
					width: 100%;
					background-image: url('../img/main/#{nth($visuals,$i)}.png');
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
				}
			}

			.picture {
				width: 100%;
				height: 100%;
				flex: 1;
				//border: 1px solid red;
				border-radius: 20px;
				position: relative;

				&.on {
					flex: 3;
					overflow: hidden;

					h1 {
						transform: rotate(0deg);
					}
				}

				h1 {
					width: 100%;
					//border: 1px solid blue;
					padding: 5%;
					position: absolute;
					bottom: 78px;
					font-size: 20px;
					flex: 0 0 auto;
					line-height: 1.1em;
					white-space: nowrap;
					transform: rotate(-90deg);
					color: #f2f2f2;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#visual {
		width: 100%;
		height: 100%;
		padding: 90px 60px 40px;

		.wrap {
			width: 100%;
			margin: 0 3%;
			flex-wrap: wrap;
			flex-direction: column;

			.left {
				width: 100%;
				padding-bottom: 56px;

				h1 {
					margin-bottom: 0px;
				}

				.search_area {
					display: none;
				}
			}
			.right {
				width: 100%;
				height: 300px;
			}
		}
	}
}
