@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:wght@400;700&display=swap');

#Sub_Gallery {
	width: 100%;
	height: 100%;
	padding: 154px 10% 64px;
	overflow: hidden;

	.wrap {
		width: 100%;
		height: 100%;
		overflow: hidden;

		.title {
			width: 50%;
			padding: 30px 0 100px;

			.main {
				width: 100%;
				border-bottom: 1px solid #1e1e2f;

				h1 {
					width: 100%;
					font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
					font-weight: 700;
					font-size: 70px;
					padding-bottom: 20px;
				}
			}

			.sub {
				width: 100%;
				text-align: right;
				padding: 30px 0;

				h2 {
					display: inline-block;
					width: 50%;
					font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
					font-weight: 400;
					font-size: 16px;
				}
			}
		}

		.Search_Area {
			width: 100%;
			padding: 20px 0;

			.input_Area {
				width: 100%;
				text-align: left;
				position: relative;
				margin: 15px 0;

				input {
					font-size: 15px;
					color: #222222;
					width: 300px;
					border: none;
					border-bottom: solid #aaaaaa 1px;
					padding-bottom: 10px;
					padding-left: 10px;
					position: relative;
					background: none;
					margin-right: 10px;

					&::placeholder {
						color: #aaaaaa;
					}
					&:focus {
						outline: none;
					}

					&:focus ~ label,
					&:valid ~ label {
						font-size: 16px;
						bottom: 40px;
						color: #666;
						font-weight: bold;
					}

					&:focus ~ span,
					&:valid ~ span {
						width: 100%;
					}
				}

				label {
					position: absolute;
					color: #aaa;
					left: 10px;
					font-size: 20px;
					bottom: 8px;
					transition: all 0.2s;
				}

				button {
					width: 100px;
					height: 30px;
					padding: 0px 25px;
					border: 2px solid #000;
					font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
					font-weight: 500;
					background: transparent;
					cursor: pointer;
					transition: all 0.3s ease;
					position: relative;
					display: inline-block;

					&:after {
						position: absolute;
						content: ' ';
						top: 0;
						left: 0;
						z-index: -1;
						width: 100%;
						height: 100%;
						transition: all 0.3s ease;
						transform: scale(0.1);
					}
					&:hover {
						color: #fff;
					}
					&:hover:after {
						background: #000;
						transform: scale(1);
					}
				}
			}

			.button_Area {
				button {
					width: 100px;
					height: 30px;
					padding: 0px 25px;
					border: 2px solid #000;
					font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
					font-weight: 500;
					background: transparent;
					cursor: pointer;
					transition: all 0.3s ease;
					position: relative;
					display: inline-block;

					&:after {
						position: absolute;
						content: ' ';
						top: 0;
						left: 0;
						z-index: -1;
						width: 100%;
						height: 100%;
						transition: all 0.3s ease;
						transform: scale(0.1);
					}
					&:hover {
						color: #fff;
					}
					&:hover:after {
						background: #000;
						transform: scale(1);
					}
				}
			}
		}

		.contents {
			width: 100%;
			height: 100%;
			overflow: hidden;
			margin: 20px 0;
			opacity: 0;
			transform: translateY(100px);
			transition: 0.5s;

			&.on {
				opacity: 1;
				transform: translateY(0px);
			}

			ul {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;

				li {
					width: 25%;
					padding: 20px;

					.Img_Area {
						min-height: 200px;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 15px;
						}
					}

					.Img_Title {
						display: block;
						padding: 10px 5px;

						p {
							font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
							font-weight: 400;
							font-size: 14px;
							color: #888;
						}
					}

					.Img_UserInfo {
						width: 100%;
						padding: 10px 5px 20px;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						border-bottom: 1px solid #000;

						img {
							width: 45px;
							height: 45px;
							border-radius: 10px;
							background: #0a0808;
						}

						span {
							display: inline-block;
							font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
							font-weight: 700;
							font-size: 14px;
							margin-left: 20px;
							cursor: pointer;
						}
					}
				}
			}
		}
	}

	.loading_Area {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background: rgba(0, 0, 0, 0.9);
		opacity: 0.8;
		z-index: 3;
		top: 0;
		left: 0;
		position: fixed;
		top: 0;
		left: 0px;
		//transition: opacity 1s; 넣었더니 이질감이 느껴짐

		&.off {
			overflow: auto;
			opacity: 0;
			z-index: -1;
		}

		.loading {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 1;
			transition: opacity 1s;
			z-index: 3;
			background: transparent;
		}
	}
}

@media screen and (max-width: $tablet) {
	#Sub_Gallery {
		padding: 110px 5% 50px;

		.wrap {
			.title {
				width: 100%;
				padding: 0px 0 50px;

				.main {
					h1 {
						font-weight: 700;
						font-size: 50px;
						padding-bottom: 20px;
					}
				}

				.sub {
					width: 100%;
					padding: 30px 0;

					h2 {
						width: 100%;
						font-size: 16px;
					}
				}
			}

			.contents {
				ul {
					li {
						width: 50%;

						.Img_Area {
							min-height: 150px;
						}

						.Img_Title {
							p {
								font-size: 12px;
							}
						}

						.Img_UserInfo {
							img {
								width: 30px;
								height: 30px;
							}

							span {
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#Sub_Gallery {
		.wrap {
			.Search_Area {
				.input_Area {
					input {
						width: 200px;
					}

					button {
						width: 80px;
						padding: 0px 10px;
					}
				}

				.button_Area {
					button {
						width: 80px;
						padding: 0px 10px;
					}
				}
			}

			.contents {
				ul {
					li {
						width: 100%;
						padding: 20px;
					}

					.Img_Title {
						p {
							font-size: 12px;
						}
					}

					.Img_UserInfo {
						img {
							width: 25px;
							height: 25px;
						}

						span {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
