@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:wght@400;700&display=swap');

$ico_img: ('ico_facebook.svg', 'ico_twitter.svg', 'ico_instagram.svg');

#Sub_Members {
	width: 100%;
	padding: 154px 10% 64px;
	height: 100%;
	overflow: hidden;
	//height: calc(100vh - 505px); //header , fotter

	.wrap {
		.Description_Area {
			.icon_Area {
				width: 85px;
				height: 85px;
				border-radius: 100px;
				background-color: #f4f0fe;
				margin: 0 auto 20px;

				.Members_icon {
					display: block;
					width: 100%;
					height: 100%;
					background-image: url('../img/sub/Members_icon_01.png');
					background-repeat: no-repeat;
					background-position: center;
					background-size: 60% 60%;
				}
			}

			h1 {
				font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
				font-weight: 700;
				font-size: 50px;
				text-align: center;
				margin-bottom: 10px;
			}

			h2 {
				max-width: 700px;
				font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
				font-weight: 400;
				font-size: 16px;
				margin: 0 auto;
			}
		}

		.Tab_Area {
			width: 100%;
			height: 100%;
			overflow: hidden;
			padding: 50px 15% 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 30px;
			opacity: 0;
			transition: 1s;
			transform: translateY(20px);

			&.on {
				opacity: 1;
				transform: translateY(0px);
			}

			li {
				min-width: 300px;
				width: 30%;
				height: 100%;
				min-height: 300px;
				background: #fff;
				border-radius: 20px;

				&:hover {
					box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
				}

				.pic_Area {
					display: block;
					width: 100%;
					margin-top: 10px;

					.pic {
						width: 75px;
						height: 75px;

						margin: 30px auto 10px;

						.pic_img {
							display: block;
							width: 100%;
							height: 100%;
							border-radius: 100px;
							object-fit: cover;
						}
					}
				}

				.Name {
					font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
					font-weight: 700;
					font-size: 20px;
					color: #1e1e2f;
					text-align: center;
					margin-top: 30px;
					margin-bottom: 10px;
				}

				.Position {
					font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
					font-weight: 400;
					font-size: 16px;
					color: rgba(31, 31, 31, 0.6);
					text-align: center;
				}

				.SNS_Area {
					width: 100%;
					height: 100%;
					overflow: hidden;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: 20px;

					.SNS {
						display: block;
						width: 40px;
						height: 40px;
						margin-right: 8px;
						margin-left: 8px;
						border-radius: 100px;
						cursor: pointer;

						&:hover {
							background: #1e1e2f;
						}

						@for $i from 1 through 3 {
							.icon_img#{$i} {
								display: block;
								width: 100%;
								height: 100%;
								border: 1px solid rgba(30, 30, 47, 0.1);
								border-radius: 100px;
								transition: 0.3s;
								background-image: url('../img/main/#{nth($ico_img,$i)}');
								background-repeat: no-repeat;
								background-position: center;
								background-size: 50% 50%;
								object-fit: cover;

								&:hover {
									filter: brightness(0%) invert(100%);
								}
							}
						}
					}
				}
			}
		}
	}
}
