@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:wght@400;700&display=swap');

#Sub_Register {
	width: 100%;
	height: 100%;
	padding: 154px 10% 64px;
	overflow: hidden;

	.wrap {
		width: 100%;
		height: 100%;
		overflow: hidden;

		.title {
			width: 50%;
			padding: 30px 0 60px;

			.main {
				width: 100%;
				border-bottom: 1px solid #1e1e2f;

				h1 {
					width: 100%;
					font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
					font-weight: 700;
					font-size: 70px;
					padding-bottom: 20px;
				}
			}

			.sub {
				width: 100%;
				text-align: right;
				padding: 30px 0;

				h2 {
					display: inline-block;
					width: 50%;
					font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
					font-weight: 400;
					font-size: 16px;
				}
			}
		}

		.contents {
			width: 100%;
			height: 100%;
			overflow: hidden;
			padding: 30px;

			table {
				width: 100%;

				tr {
					height: 35px;
					//border-bottom: 1px solid #1e1e2f;

					th {
						width: 20%;
						padding-bottom: 20px;

						&.padding_top20 {
							padding-top: 20px;
						}

						button[type='reset'],
						button[type='submit'] {
							width: 150px;
							height: 50px;
							font-size: 17px;
							border: 2px solid #1e1e2f;
							font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
							font-weight: 500;
							background: transparent;
							cursor: pointer;
							transition: all 0.3s ease;
							position: relative;
							display: inline-block;
							border-radius: 10px;

							&:after {
								position: absolute;
								content: ' ';
								top: 0;
								left: 0;
								z-index: -1;
								width: 100%;
								height: 100%;
								transition: all 0.3s ease;
								transform: scale(0.1);
							}
							&:hover {
								color: #fff;
							}
							&:hover:after {
								background: #000;
								transform: scale(1);
							}
						}

						button[type='reset'] {
							margin-right: 20px;
						}
					}

					td {
						width: 80%;
						padding-bottom: 20px;

						&.padding_top20 {
							padding-top: 20px;
						}

						.input_Area {
							width: 100%;
							text-align: left;
							position: relative;
							margin: 15px 0;
							cursor: pointer;

							input {
								font-size: 15px;
								color: #1e1e2f;
								width: 100%;
								border: none;
								border-bottom: solid #aaaaaa 1px;
								padding-bottom: 10px;
								padding-left: 10px;
								position: relative;
								background: none;
								margin-right: 10px;

								&::placeholder {
									color: #aaaaaa;
								}
								&:focus {
									outline: none;
								}

								&:focus ~ label,
								&:valid ~ label {
									font-size: 16px;
									bottom: 40px;
									color: #666;
									font-weight: bold;
								}

								&:focus ~ span,
								&:valid ~ span {
									width: 100%;
								}
							}

							label {
								position: absolute;
								color: #aaa;
								left: 10px;
								font-size: 20px;
								bottom: 8px;
								transition: all 0.2s;
							}
						}

						p {
							width: 100%;
							color: #f44336;
							padding-left: 10px;
							padding-top: 10px;
							padding-bottom: 5px;
							font: 11px/1 '맑은 고딕';

							// &:nth-of-type(1) {
							// 	padding-top: 0;
							// }

							&:last-child {
								padding-bottom: 10px;
							}
						}

						#edu {
							width: 100%;
							background: rgba(0, 0, 0, 0.1);
							padding: 10px;
							border: 1px solid #bbb;
							font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
							font-weight: 400;
						}

						input[type='radio'],
						input[type='checkbox'] {
							width: 18px;
							height: 18px;
							border: 1px solid #1e1e2f;
							background: #fff;
							margin-right: 5px;
							cursor: pointer;
						}

						.radio_label,
						.checkbox_label {
							font-size: 16px;
							font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
							font-weight: 400;
							color: #1e1e2f;
							cursor: pointer;
							margin-right: 20px;
						}

						textarea {
							width: 100%;
							height: auto;
							padding: 15px;
							color: #1e1e2f;
							font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
							font-weight: 400;
							resize: none;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#Sub_Register {
		padding: 110px 5% 50px;

		.wrap {
			.title {
				width: 100%;
				padding: 0px 0 50px;

				.main {
					h1 {
						font-weight: 700;
						font-size: 50px;
						padding-bottom: 20px;
					}
				}

				.sub {
					width: 100%;
					padding: 30px 0;

					h2 {
						width: 100%;
						font-size: 16px;
					}
				}
			}

			.contents {
				padding: 15px 0;

				table {
					tr {
						th {
							width: 25%;
							padding-bottom: 10px;

							&.padding_top20 {
								padding-top: 10px;
							}

							button[type='reset'],
							button[type='submit'] {
								width: 100px;
								height: 40px;
								font-size: 14px;
							}

							button[type='reset'] {
								margin-right: 15px;
							}
						}

						td {
							width: 75%;
							padding-bottom: 10px;

							&.padding_top20 {
								padding-top: 15px;
							}

							.input_Area {
								input {
									font-size: 14px;

									&:focus ~ label,
									&:valid ~ label {
										font-size: 12px;
									}

									&:focus ~ span,
									&:valid ~ span {
										width: 100%;
									}
								}

								label {
									font-size: 14px;
								}
							}

							#edu {
								padding: 5px;
							}

							input[type='radio'],
							input[type='checkbox'] {
								width: 15px;
								height: 15px;
							}

							.radio_label,
							.checkbox_label {
								font-size: 15px;
								margin-right: 10px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#Sub_Register {
		.wrap {
			.title {
				padding: 0px 0 20px;

				.sub {
					padding: 20px 0;
				}
			}

			.contents {
				padding: 15px 0;

				table {
					tr {
						th {
							font-size: 13px;

							button[type='reset'],
							button[type='submit'] {
								width: 100px;
								height: 30px;
								font-size: 12px;
							}
						}
						td {
							input[type='radio'],
							input[type='checkbox'] {
								width: 13px;
								height: 13px;
							}

							.radio_label,
							.checkbox_label {
								font-size: 13px;
							}
						}
					}
				}
			}
		}
	}
}
